* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.title-box {
    background-color: blue;
    font-size: 24;

    width: 50%;
    height: auto;

    /* Properties */
    padding: 16px;
    margin: 0 auto;

    margin-bottom: 24px;
}


.context-box {
    background-color: red;

    width: 80%;
    height: auto;

    margin: 8px auto 8px auto;
    padding: 24px;
}

.header-content-box {
    background-color: green;

    width: auto;

    margin: 12px 0 24px 0;
    padding: 16px 0;

    font-size: 18px;
}

.img-box1 img {
    width: 50%;
    height: auto;

    /* Images by default are inline so they cannot be affected with margin and padding and so on. Change into display block in order to modify the image layout. */
    display: block;
    margin: 32px auto 0 auto;
}

.recc-box {
    background-color: yellow;

    width: 80%;
    height: auto;

    margin: 0 auto 16px auto;
    padding: 16px;
}

.header-recc-box {
    background-color: green;
    width: auto;

    margin: 12px 0 12px 0;
    padding: 0px 0px 8px 0px;

    font-size: 18px;
}

.links-recc-box {
    background-color: orange;

    padding: 16px;
    margin: 8px 16px;
}



/* Flex Box Implementation */

.menu-container {
    display: flex;
    background-color: lightblue;

    padding: 20px 0px;

    /* Flexbox Properties */
    /* justify-content has other properties such as 'center', 'flex-start', 'flex-end', 'space-around', and 'space-between' */
    justify-content: center; 
}

.menu {
    width: 900px;

    padding: 8px;

    /* Changing FlexBox properties with multiple flex items */

    display: flex;

    justify-content: space-between;
}

.links {
    width: auto;


    display: flex;

    justify-content: flex-end;

}

.login {
    margin-left: 20px;
}


.header-container {
    background-color: lightgray;
    display: flex;

    justify-content: center;
}

.header {
    width: 100%;
    height: auto;

    padding: 8px;
    display: flex;

    justify-content: center;
    align-items: center;
}

.logo {
    width: 25px;
    height: auto;

    display: block;
    margin-left: 75px;

}



.header-title {
    width: auto;
    height: auto;

}

/* Photo Grid Implementation With FlexBox */

.photo-grid-container {
    display: flex;
    justify-content: center;


}

.photo-grid {
    width: 80%;
    display: flex;
    justify-content: flex-start;


    border: 1px solid red;

    flex-wrap: wrap;
    flex-direction: row;

    align-items: center;

}

.photo-grid-item {
    width: 300px;;
    height: 300px;

    border: 1px solid yellow;

}

.photo-grid-item img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    border: 1px solid green;
    background-color: blue;

    height: 200px;
    flex: 1;
}

.footer-three,
.footer-one {
    background-color:blueviolet;
    flex: initial;

    width: 300px;
}


.register {
    margin-left: auto;
}

